body{
  margin: 0;
  padding:0;
}

.navbar{
  font-family: 'Courier New', Courier, monospace;
  padding-left: 800px;
  display: flex;
  gap: 30px;
  background-color: rgb(26, 26, 121);
  color: white;
  height: 45px;
  text-align: center;
}

.container{
  color: whitesmoke;
  display: flex;
  gap: 460px;
  padding-left: 40px;
  background-color: blue;
}

.container2{
  gap: 40px;
  display: flex;
}

.section3{
  color: whitesmoke;
  gap: 30px;
  display: flex;
  padding-left: 40px;
  background-color: blueviolet;
}

.main{
  color: violet;
  background-color:whitesmoke;
  height: 4cm;
  
}

.main-text{
  text-align: center;
}

.main-text2{
  text-align: center;
  color: black;
}
