*{
  margin: 0;
  padding:0;
}

.navbar{
  font-family: 'Courier New', Courier, monospace;
  justify-content: flex-end;
  padding:10px 20px;
  display: flex;
  gap: 30px;
  background-color: rgb(26, 26, 121);
  color: white;
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  color: whitesmoke;
  background-color: rgb(92, 7, 172); 
  padding: 10px 20px;
} 

.brand-name p{
  font-size: 18px;

}

.container2 {
  gap: 20px;
  display: flex;
  margin-left: auto;
  
}

.section3{
  display: flex;
  align-items: center;
  color: whitesmoke;
  background-color: rgb(114, 1, 114);
  padding: 10px 20px;
  gap: 30px;
}

.main{
  color: blueviolet;
  background-color:whitesmoke;
  padding-bottom: 90px;
  padding-top: 20px;
}

.main-text{
  text-align: center;
  padding-bottom: 10px;
}

.main-text2{
  text-align: center;
  color: black;
  font-weight: lighter;
  font-family: monospace;
}


.second-body{
  display: flex;
  padding-top: 20px;
  justify-content: center;
  gap: 60px;
  background-color: rgb(232, 230, 230);
  color: blueviolet;
}

.first{
  text-align: center;
  margin-top: 0;
}

.figure{
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  padding-top: 10px;
  
}

.decimal{
  text-align: center;
  padding-top: 5px;
  font-size: x-small;
}

.sub1{
  color: black;
  font-size: smaller;
  text-align: center;
  padding-top: 15px;
}

.sub2{
  color: black;
  font-size: smaller;
  text-align: center;
  padding-top: 7px;
}

.decimal2{
  text-align: center;
  
  padding-top: 5px;
  font-size: x-small;
}

.decimal1{
  text-align: center;
  padding-top: 5px;
  font-size: x-small;
}

.second{
  text-align: center;
  margin-top: 0;
}

.third{
  text-align: center;
}
