.second-body{
  display: flex;
  padding-top: 20px;
  justify-content: center;
  gap: 60px;
  background-color: rgb(232, 230, 230);
  color: blueviolet;
}

.first{
  text-align: center;
  margin-top: 0;
}

.figure{
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  padding-top: 10px;
  
}

.decimal{
  text-align: center;
  padding-top: 5px;
  font-size: x-small;
}

.sub1{
  color: black;
  font-size: smaller;
  text-align: center;
  padding-top: 15px;
}

.sub2{
  color: black;
  font-size: smaller;
  text-align: center;
  padding-top: 7px;
}

.decimal2{
  text-align: center;
  
  padding-top: 5px;
  font-size: x-small;
}

.decimal1{
  text-align: center;
  padding-top: 5px;
  font-size: x-small;
}

.second{
  text-align: center;
  margin-top: 0;
}

.third{
  text-align: center;
}
